@use "../../assets/styles/main";

.payment-cash {
  @include main.flexSort(space-between, center);
  @include main.commonBorder(5px);
  flex-direction: column;
  background: lightgray;
  padding: 10px;
  gap: 10px;

  .payment-cash-type {
    @include main.commonBorder(2px);
    @include main.flexSort(center, center);
    list-style: none;
    flex-wrap: wrap;
    padding: 15px;
    background: #fff;
    gap: 20px;

    li {
      @include main.commonBorder(2px);
      padding: 0 10px;
      height: 30px;
      line-height: 30px;
      background-color: green;
      text-align: center;
      color: #fff;
      cursor: pointer;
    }
  }

  .payment-cash-button {
    @include main.flexSort(center, center);
    gap: 10px;

    button {
      @include main.commonBorder(2px);
      height: 30px;
      width: 100px;
      font-weight: bold;
      cursor: pointer;
    }
  }
}
